<%= form_with(model: talent_profile, local: true) do |form| %>
  <% if talent_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(talent_profile.errors.count, "error") %> prohibited this talent_profile from being saved:</h2>

      <ul>
      <% talent_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :biography %>
    <%= form.text_area :biography %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, options_for_select([['NY'], ['NJ'], ['dude, we gotta insert 50 more of these lol']], @talent_profile.state), id: :talent_profile_state %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.select :sex, options_for_select([['Male'], ['Female'], ['?']], @talent_profile.sex), id: :talent_profile_sex %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <label>License/ID Number</label>
    <%= form.text_field :government_id %>
  </div>

  <div class="field">
    <label>Suit Top</label>
    <%= form.text_field :topsuit %>
  </div>

  <div class="field">
    <label>Waist/Hip Measurement</label>
    <%= form.text_field :waisthip %>
  </div>

  <div class="field">
    <label>Pant Length</label>
    <%= form.text_field :pantlength %>
  </div>

  <div class="field">
    <label>Eye Color</label>
    <%= form.text_field :eyecolor %>
  </div>

  <div class="field">
    <label>Any Visible Tatoos?</label>
    <%= form.check_box :has_visible_tattoo %>
  </div>

  <% @talent_profile.user_id = current_user.id if current_user %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
