<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @talent_profile.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @talent_profile.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @talent_profile.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @talent_profile.last_name %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @talent_profile.biography %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @talent_profile.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @talent_profile.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @talent_profile.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @talent_profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @talent_profile.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @talent_profile.zipcode %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @talent_profile.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @talent_profile.birthday %>
</p>

<p>
  <strong>Government:</strong>
  <%= @talent_profile.government_id %>
</p>

<p>
  <strong>Topsuit:</strong>
  <%= @talent_profile.topsuit %>
</p>

<p>
  <strong>Waisthip:</strong>
  <%= @talent_profile.waisthip %>
</p>

<p>
  <strong>Pantlength:</strong>
  <%= @talent_profile.pantlength %>
</p>

<p>
  <strong>Eyecolor:</strong>
  <%= @talent_profile.eyecolor %>
</p>

<p>
  <strong>Has visible tattoo:</strong>
  <%= @talent_profile.has_visible_tattoo %>
</p>

<p>
  <strong>User:</strong>
  <%= @talent_profile.user %>
</p>

<%= link_to 'Edit', edit_talent_profile_path(@talent_profile) %> |
<%= link_to 'Back', talent_profiles_path %>
